//
   Created by zezhi on 2015/12/6.
extends layout
block content
    script(src="/video.js/dist/video.js")
    script(src="/js/demo.js")
    .container
        each camera in cameras
            .col-md-6
                    h5= camera.url
                    video.video-js#video(controls preload="auto"   poster="/images/poster.jpg" data-setup="{}" width="600" height="400")
                        source(src=camera.url type="rtmp/flv")

