doctype html
html(ng-app="todo" )
    head
        title SEEI.TV嘻爱网
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(rel='stylesheet', href='/paper/bootstrap.min.css')
        link(rel='stylesheet', href='/video.js/dist/video-js.min.css')
        link(rel="stylesheet", href="/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet" href="/stylesheets/animate.min.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/jquery/dist/jquery.min.js")
        script(src="/bootstrap/dist/js/bootstrap.min.js")
        script(src="/socket.io/socket.io.js")
        script(src="/angular/angular.min.js")
        script(src="/angular/angular-resource.min.js")
        script(src="/angular/angular-route.min.js")
        script(src="/angular/angular-animate.min.js")
        script(src="/angular/angular-sanitize.min.js")
        script(src="/angular-socket/socket.min.js")
        script(src="/nprogress/nprogress.js")
    body(style="padding-top:75px")
        block content
