.signBtn.float-right
    a(data-toggle="modal" data-target="#sign" style="height:50px").float-right
        button.btn.btn-danger.border-radius-0(style="height:30px;line-height:20px")
            span 登录