.modal.fade.on#sign(ng-controller="signCtrl")
   .modal-dialog(style="max-width:400px;")
      .modal-content
         .modal-header
            .login-box-msg
               center
                  img(src="/images/logo.jpg" style="width:120px")
         .modal-body(style="background-color:#f5f5f5;padding:0 30px" )
            .register-box-body
               center
                  br
                  h5 登陆
               ng-form(novalidate  name="signForm" )
                  label.label.label-danger.pull-left(ng-show="error") {{error}}
                  .form-group.has-feedback
                     input.form-control(placeholder="用户名" type="text" name="name" ng-model="signData.name" required)
                     span.fa.fa-user.form-control-feedback(style="margin-top:0;")
                  .form-group.has-feedback
                     input.form-control(placeholder="密码" type="password" name="password" ng-model="signData.password" required)
                     span.fa.fa-lock.form-control-feedback(style="margin-top:0;")
         .modal-footer(style="background-color:#f5f5f5")
            .col-md-8.col-xs-12
               a.link-black.float-left(data-target="#reg" data-toggle="modal"  data-dismiss="modal")
                  small 注册

            .col-xs-12.col-md-4
                        button(class="btn btn-primary btn-block btn-flat"  ng-disabled="signForm.$invalid"   ng-click="sign(signData)") 登录
